<div class="container py-5 d-flex justify-content-center">
  <div class="text-center">
    <h1 class="h2 fw-bold mb-3">ChainMenu+PFC とは？</h1>
     <div class='explanation'>
      <p>
        外食チェーンのメニューを3大栄養素<br>
        <strong>P</strong>たんぱく質 / <strong>F</strong>脂質 / <strong>C</strong>炭水化物やカロリーの<br>
        数値で絞り込み検索できるサービスです。<br>
        ダイエット中でも「食べられるメニュー」をきっと見つけられます。<br>
      </p>
        <div><%= render 'shared/search_form', url: menus_path %></div>
    </div>
  </div>
</div>
