<footer class='bg-info py-3 mt-auto'>
  <div class='container text-center text-muted fw-bold'>
    <div class='col-sm-12 col-12'>
      <div class='copyright'>
        <p>Copyright © 2025 ChainMenu+PFC</p>
      </div>
    </div>
  </div>
</footer>