<div class="container py-5">
  <div class="mb-4">
    <h2><%= @chain.name %></h2>
    <p class="text-muted"><%= @chain.chain_category&.name %></p>
  </div>

  <hr>

<div id="search-forms-placeholder">
  <%= render 'shared/search_form', q: @q, url: chain_path(@chain) %>
  <%= render 'menus/index', q: @q, menus: @menus %>
</div>